<div class="AddForm__wrapper full-screen shadow flex flex-center">
    <div class="AddForm__block padding__container-m">
        <div class="flex flex-justify-end"><button class=" AddForm__close  button__close cursor-pointer"
                                                   @click="$emit('close')" >
            х
        </button>
        </div>

        <input
                type="text"
                class="input margin__bottom-m full-width"
                v-model="surname"
                placeholder="Фамилия"
                name="surname">
        <input
                type="text"
                class="input margin__bottom-m full-width"
                v-model="name"
                placeholder="Имя"
                name="name">
        <input
                type="tel"
                class="input margin__bottom-m full-width"
                v-model="telephone"
                placeholder="Телефон"
                name="telephone">
        <input
                type="email"
                class="input margin__bottom-m full-width"
                v-model="email"
                placeholder="Email"
                name="email">
        <button class="button cursor-pointer margin__bottom-xs full-width"
                :disabled="!(name && telephone)"
                @click.prevent="submit"
        >
            Добавить контакт
        </button>


    </div>

</div>

<notification
        :messages="messages"
        :timeout="5000"
/>